{
  "ignition": {
    "config": {},
    "timeouts": {},
    "version": "2.1.0"
  },
  "networkd": {},
  "passwd": {
    "users": [
      {
        "groups": [
          "sudo",
          "docker"
        ],
        "name": "{{vagrant_user}}",
        "sshAuthorizedKeys": [
          "ssh-rsa {{vagrant_key}}"
        ]
      }
    ]
  },
  "storage": {
    "files": [
      {
        "filesystem": "root",
        "group": {},
        "path": "/etc/hostname",
        "user": {},
        "contents": {
          "source": "data:,{{ machine_name }}",
          "verification": {}
        },
        "mode": 420
      }
    ]
  },
  "systemd": {}
}
